<!DOCTYPE html>
<html>

<head>
  <title>
    {% if not isHomepage %}{{char1.fullName}} vs {{char2.fullName}} | SmashMatchups.com{% else %}
    SmashMatchups - Tips for every battle in Smash Ultimate</title>
  {# <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script> #}
  <link rel="stylesheet" href="./style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if isHomepage %}
    <meta name="description" content="How to win every matchup in Super Smash Bros. Ultimate">
  {% else %}
    <meta name="description" content="How to beat {{char2.fullName}} as {{char1.fullName}} in Super Smash Bros. Ultimate">
  {% endif %}
</head>

<body>
  <div id="heading">
    <a href="./{{'index.html' if local}}">
      <img src="logo.png" alt="SmashMatchups.com"></img>
    </a>
  </div>

  <h1 id="picker">
    <a href='#picker1' id='char1' class="{{'picked' if char1}}">
      {% if char1 %} {{char1.fullName}} {% else %} Player One {% endif %}</a>
    <span>vs</span>
    <a href='#picker2' id="char2" class="{{'picked' if char2}}">
      {% if char2 %} {{char2.fullName}} {% else %} Player Two {% endif %}</a>
    </a>
  </h1>

  <div id="picker1" class="character-list">
    {% for char in charMap %}
      <a href='{{char.urlName}}-vs-{{char2.urlName if char2 else "anyone"}}{{".html" if local}}' class="character {{'char1' if char1.urlName == char.urlName}} {{'char2' if char2.urlName == char.urlName}}">
        <div class="icon" style="background-image: url(img/icon/{{char.urlName}}.png)"></div>
        <span>{{char.fullName}}</span>
      </a>
    {% endfor %}
  </div>

  <div id="picker2" class="character-list">
    {% for char in charMap %}
      <a href='{{char1.urlName if char1 else "anyone"}}-vs-{{char.urlName}}{{".html" if local}}' class="character {{'char1' if char1.urlName == char.urlName}} {{'char2' if char2.urlName == char.urlName}}">
        <div class="icon" style="background-image: url(img/icon/{{char.urlName}}.png)"></div>
        <span>{{char.fullName}}</span>
      </a>
    {% endfor %}
  </div>

  {% if isHomepage %}
  <div id="content">
    <p>
      <h2>Pick any two characters and get information on the Matchup.</h2><br>
      The matchup information will be on how Player One can
      win - so <a href="./mewtwo-vs-bowser{{'.html' if local}}">Mewtwo vs Bowser</a> describes how Mewtwo should play.
    </p>
  </div>
  {% endif %}

  {% if hasMatchupContent %}
    <div id="matchup">
      {% if isGenericContent %}
        <section class="warning">
          <h2>Showing Generic Tips</h2><br>
          These are basic tips on how to beat {{char2.fullName}}. We don't have tips for how
          {{char1.fullName}} specifically should play. If you have advice for this matchup - consider <a href="{{githubLinkCreate}}">adding them</a> to help the community!
        </section>
        <hr style="width:100%; border:none;"></hr>
      {% endif %}
    {{ matchupContent | safe }}
    </div>
  {% endif %}

  {% if not isHomepage and not hasMatchupContent %}
    <div id="content">
      <p>
        <h2>No matchup information found.<br>Sorry about that!</h2>
      </p>
    </div>
  {% endif %}

  {% if not isHomepage %}
    <a id='edit' href="{{ githubLinkEdit if hasMatchupContent else githubLinkCreate }}">{{ "Edit this page" if hasMatchupContent and not isGenericContent else "Create this page" }}</a>
    
    {% if isGenericContent %}
      <a id='edit' href="{{githubGenericEdit}}">Edit generic {{char2.fullName}} tips</a>
    {% endif %}
  {% endif %}
</body>

</html>
