<html>

<head>
  <title>{% if not isHomepage %}{{char1.fullName}} vs {{char2.fullName}} | {% endif %} SmashMatchups.com</title>
  <script src="./script.js"></script>
  {# <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script> #}
  <link rel="stylesheet" href="./style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if isHomepage %}
    <meta name="description" content="How to win every matchup in Super Smash Bros. Ultimate">
  {% else %}
    <meta name="description" content="How to beat {{char2.fullName}} as {{char1.fullName}} in Super Smash Bros. Ultimate">
  {% endif %}
</head>

<body>
  <div id="heading">
    <a href="./{{'index.html' if local}}">
      <img src="logo.png" alt="SmashMatchups.com"></img>
    </a>
  </div>

  <h1 id="picker">
    <a href='#picker1' id='char1' class="{{'picked' if char1}}">
      {% if char1 %} {{char1.fullName}} {% else %} Player One {% endif %}</a>
    <span>vs</span>
    <a href='#picker2' id="char2" class="{{'picked' if char2}}">
      {% if char2 %} {{char2.fullName}} {% else %} Player Two {% endif %}</a>
    </a>
  </h1>

  <div id="picker1" class="character-list">
    {% for char in charMap %}
      <a href='{{char.urlName}}-vs-{{char2.urlName if char2 else "anyone"}}{{".html" if local}}' class="character {{'char1' if char1.urlName == char.urlName}} {{'char2' if char2.urlName == char.urlName}}">
        <div class="icon" style="background-image: url(img/icon/{{char.urlName}}.png)"></div>
        <span>{{char.fullName}}</span>
      </a>
    {% endfor %}
  </div>

  <div id="picker2" class="character-list">
    {% for char in charMap %}
      <a href='{{char1.urlName if char1 else "anyone"}}-vs-{{char.urlName}}{{".html" if local}}' class="character {{'char1' if char1.urlName == char.urlName}} {{'char2' if char2.urlName == char.urlName}}">
        <div class="icon" style="background-image: url(img/icon/{{char.urlName}}.png)"></div>
        <span>{{char.fullName}}</span>
      </a>
    {% endfor %}
  </div>

  <div id="content">
    {% if isHomepage %}
      <p>
        <h2>Pick any two characters and get information on the Matchup.</h2><br>
        The matchup information will be on how Player One can
        win - so <a href="./mewtwo-vs-bowser{{'.html' if local}}">Mewtwo vs Bowser</a> describes how Mewtwo should play.
     </p>
    {% endif %}
    {{ matchupContent | safe }}
    {% if not isHomepage and not hasMatchupContent %}
    <p>
      <h2>No matchup information found.<br>Sorry about that!</h2>
    </p>
    {% endif %}
    {% if githubLink %}
     <a id='edit' href="{{ githubLink }}">{{ "Edit this page" if hasMatchupContent else "Create this page" }}</a>
    {% endif %}
  </div>


</body>

</html>